@import "zoom-level-value.css";
@import "attribution-info.css";
@import "distortable-image-overlay.css";

#map {
    height: calc(100vh - 50px);
    width: 100%;
    font-size: 11pt;
}

#toolbar {
    padding: 0px;
}

#toolbar .btn-sm {
    padding-top: 2px;
    padding-bottom: 2px;
}

#toolbar-dynamic {
    text-align: center;
}
